[submodule "llama.cpp"]
	path = llama.cpp
	url = https://github.com/hariag/llama.cpp
[submodule "stable-diffusion.cpp"]
	path = stable-diffusion.cpp
	url = https://github.com/hariag/stable-diffusion.cpp
	branch = master
[submodule "concurrentqueue"]
	path = concurrentqueue
	url = https://github.com/cameron314/concurrentqueue
	branch = master
[submodule "readerwriterqueue"]
	path = readerwriterqueue
	url = https://github.com/cameron314/readerwriterqueue
	branch = master
